table{
    width: 100%;
    border-collapse: collapse;
    
}
table th{
    background-color: pink;
    padding: 5px;
}
table td{
    padding: 5px;
}
table td:nth-child(1),td:nth-child(3){
    text-align: center;
}

table tr:nth-child(even){
    background-color: aliceblue;
}

.detail{
    width:600px;
}

.detail th{
    width: 20%;
}

.article{
    min-height: 200px;
}